
body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

hr.divider {
  max-width: 5rem;
  border-width: 0.2rem;
  border-color: #fa3a3a;
}

hr.light {
  border-color: #fff;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.btn-round {
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  /* 
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  */
}

.page-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.masthead {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-masthead.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
